/* Hide Streamlit Style */
#MainMenu {
    visibility: hidden;
}

footer {
    visibility: hidden;
}

header {
    visibility: hidden;
}

/* Page Background Added */
[data-testid="stAppViewContainer"] {
    background-color: #444cf755;
    opacity: 0.8;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #000000 10px), repeating-linear-gradient(#00000055, #000000);
}
